<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:hx="http://htmx.org">

<th:block th:fragment="mediaList(mediasPage)">
    <div th:if="${mediasPage.totalResults == 0}" class="d-flex justify-content-center w-100 py-4">
        <h1 class="fw-bold">No results found !</h1>
    </div>
    <th:block th:each="media : ${mediasPage.getResults()}">
        <div th:fragment="media" style="width: 12rem">
            <a class="text-decoration-none text-reset" th:href="${media.getMediaUri()}" th:title="${media.title}">
                <img loading="lazy" class="img-thumbnail mw-100 p-0" th:src="${media.posterPath != null} ? ${media.getImageUrl(false)} : @{/images/placeholder.png}" th:alt="${media.title}">
                <h4 class="fw-bold px-2 fs-6 mt-1 md-2 text-ellipsis" th:text="${media.title}"></h4>
            </a>
        </div>
    </th:block>
    <div th:if="${mediasPage.currentPage < mediasPage.totalPages}"
         hx-get="/media"
         hx:vals='${ {"page": mediasPage.currentPage + 1} }'
         hx-include="#search"
         hx-swap="outerHTML"
         hx-trigger="revealed"
         hx-replace-url="true"
         class="d-flex justify-content-center w-100 py-4">
        <span class="spinner-border" role="status"></span>
    </div>
</th:block>

</html>