<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:hx="http://htmx.org" xmlns:hx-on="http://htmx.org">

<form id="warnForm" th:fragment="warnForm(warn)" th:object="${warn}" hx-post="#" hx-target="#warns" hx-swap="afterbegin" hx-on::after-request="htmx.remove(htmx.find('#nowarns'))">
    <div class="ms-2 me-auto d-flex flex-column">
        <label th:for="*{triggerId}">Trigger</label>
        <select required th:field="*{triggerId}" hx-trigger="click once" hx-get="/profile/triggers" hx-target="this" hx-swap="afterbegin">
            <option value="" hidden>Select a trigger</option>
        </select>
        <p th:if="${#fields.hasErrors('triggerId')}" class="alert alert-danger my-2" th:errors="*{triggerId}"></p>

        <label th:for="*{expositionLevel}">Exposition level</label>
        <input required type="number" th:field="*{expositionLevel}" min="0" max="10" value="0">
        <p th:if="${#fields.hasErrors('expositionLevel')}" class="alert alert-danger my-2" th:errors="*{expositionLevel}"></p>
    </div>
    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
    <input type="submit" class="btn btn-primary mt-2" value="Submit">
</form>

<th:block th:fragment="warnList(warnPage, warnsUri)">
    <div id="nowarns" th:if="${warnPage.getTotalElements()} == 0" class="list-group-item d-flex justify-content-center w-100 py-4">
        <h1>No warn found !</h1>
    </div>
    <th:block th:each="warn : ${warnPage.getContent()}">
        <div th:fragment="warn(warn)" class="list-group-item">
            <div>
                <p class="fs-3 text-nowrap" th:text="${warn.getTrigger().getName()}"></p>
                <p class="fs-5" th:text="${warn.getTrigger().getDescription()}"></p>
            </div>
            <p th:text="|Exposition: ${warn.getExpositionLevel()}/10|"></p>
        </div>
    </th:block>
    <div th:if="${warnPage.hasNext()}"
         hx:get="${warnsUri}"
         hx:vals='${ {"page": warnPage.getNumber() + 1} }'
         hx-include="#search"
         hx-swap="outerHTML"
         hx-trigger="revealed"
         hx-replace-url="false"
         class="d-flex justify-content-center w-100 py-4">
        <span class="spinner-border" role="status"></span>
    </div>
</th:block>

<th:block th:fragment="profileWarns(warns)">
    <div th:if="${warns.getTotalElements()} == 0" class="list-group-item d-flex justify-content-center w-100 py-4">
        <h1>No warn found !</h1>
    </div>
    <th:block th:each="warn : ${warns.getContent()}">
        <div class="list-group-item d-flex justify-content-between">
            <div class="d-flex flex-xxl-row flex-column"> <!-- Left part -->
                <div class="d-flex justify-content-center w-100 py-4" hx-trigger="revealed" hx:get="${warn.getMediaCardUrl()}" hx-swap="outerHTML">
                    <span class="spinner-border" role="status"></span>
                </div>
                <div class="mx-3">
                    <div>
                        <p class="fs-3 text-nowrap" th:text="${warn.getTrigger().getName()}"></p>
                        <p class="fs-5" th:text="${warn.getTrigger().getDescription()}"></p>
                    </div>
                    <p th:text="|Exposition: ${warn.getExpositionLevel()}/10|"></p>
                </div>
            </div>
            <!-- Right part -->
            <button class="btn btn-danger align-self-start" hx-confirm="Are you sure you want to delete your warn ?" hx-swap="none" hx-on::after-request="htmx.remove(this.closest('.list-group-item'))" hx:delete="@{/warn/{id}(id=${warn.id})}" hx:headers='${ {_csrf.headerName: _csrf.token} }' type="button" title="Delete my warn"><i class="bi bi-trash text-white"></i></button>
        </div>
    </th:block>
    <div th:if="${warns.hasNext()}"
         hx-get="/warns"
         hx:vals='${ {"page": warns.getNumber() + 1} }'
         hx-include="#search"
         hx-swap="outerHTML"
         hx-trigger="revealed"
         hx-replace-url="false"
         class="d-flex justify-content-center w-100 py-4">
        <span class="spinner-border" role="status"></span>
    </div>
</th:block>

</html>