<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:hx="http://htmx.org">

<form th:fragment="warnForm(warn)" th:object="${warn}">
    <!-- TODO -->
</form>

<th:block th:fragment="warnList(warnPage, warnsUri)">
    <div th:if="${warnPage.getTotalElements()} == 0" class="list-group-item d-flex justify-content-center w-100 py-4">
        <h1>No warn found !</h1>
    </div>
    <th:block th:each="warn : ${warnPage.getContent()}">
        <div class="list-group-item">
            <div>
                <p class="fs-3 text-nowrap" th:text="${warn.getTrigger().getName()}"></p>
                <p class="fs-5" th:text="${warn.getTrigger().getDescription()}"></p>
            </div>
            <p th:text="|Exposition: ${warn.getExpositionLevel()}/10|"></p>
        </div>
    </th:block>
    <div th:if="${warnPage.hasNext()}"
         hx:get="${warnsUri}"
         hx:vals='${ {"page": warnPage.getNumber() + 1} }'
         hx-include="#search"
         hx-swap="outerHTML"
         hx-trigger="revealed"
         hx-replace-url="false"
         class="d-flex justify-content-center w-100 py-4">
        <span class="spinner-border" role="status"></span>
    </div>
</th:block>

</html>