<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:hx="http://htmx.org">

<th:block th:fragment="mediaList(mediasPage)">
    <th:block th:each="media : ${mediasPage.getContent()}">
        <a th:fragment="media(media)" th:href="@{/media/{id}(id=${media.id})}">
            <div class="card m-3">
                <p class="card-body" th:text="${media.title}"></p>
                <img loading="lazy" th:src="${media.imageUrl}">
            </div>
        </a>
    </th:block>
    <span th:if="${mediasPage.hasNext()}"
          hx-get="/media"
          hx:vals='${ {"page": mediasPage.number + 1} }'
          hx-include="#search"
          hx-swap="outerHTML"
          hx-trigger="revealed"
          hx-replace-url="true"
          class="spinner-border"
          role="status">
    </span>
</th:block>

<div th:fragment="mediaForm(media)">
    <form th:object="${media}" hx-boost="true" hx:post="@{/admin/media/{id}(id=${media.id})}" hx-target="#media" hx-swap="innerHTML">
        <label for="mediaTitle">Media title</label>
        <input id="mediaTitle" type="text" placeholder="Title" th:field="*{title}">

        <label for="mediaImage">Image url</label>
        <input id="mediaImage" type="url" placeholder="Image HTTPS URL" th:field="*{imageUrl}">

        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
        <input type="submit" value="Save">
    </form>
</div>

</html>