<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" lang="en"
      layout:decorate="~{main.html}">
<head>
    <meta charset="UTF-8">
    <title>Login | Cinéphobia</title>
</head>
<body>
    <section layout:fragment="content" class="flex-grow-1 py-3 align-content-center">
        <div class="container h-100 px-2 py-5 w-xxl-25 border rounded d-flex flex-column align-items-center">
            <img th:src="@{/images/Cinéphobia.png}" class="img-fluid w-75 w-sm-50" alt="Cinéphobia logo">
            <p th:if="${param.error != null}">Invalid email or password.</p>
            <form method="POST" class="d-flex flex-column">
                <div class="py-3">
                    <div class="input-group">
                        <label class="input-group-text" for="email">Email</label>
                        <input class="form-control" id="email" type="email" placeholder="Email" name="email" value="" autofocus onfocus="this.select()" required>
                    </div>

                    <div class="input-group mt-2">
                        <label class="input-group-text" for="password">Password</label>
                        <input class="form-control" id="password" type="password" placeholder="Password" name="password" required/>
                    </div>
                </div>
                <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
                <input class="btn btn-primary my-2 w-50 align-self-center" name="submit" type="submit" value="Login"/>
            </form>
            <a href="/register">Create an account</a>
        </div>
    </section>
</body>
</html>