<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css" th:href="@{/webjars/bootstrap-icons/1.11.1/font/bootstrap-icons.min.css}" rel="stylesheet" />
  <link href="/css/style.css" th:href="@{/css/style.css}" rel="stylesheet" />
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" th:src="@{/webjars/bootstrap/5.3.2/js/bootstrap.bundle.min.js}" defer></script>
  <script th:src="@{/webjars/htmx.org/1.9.6/dist/htmx.min.js}" defer></script>
  <title>Cinéphobia</title>
</head>
<body>
  <header class="navbar navbar-expand-lg bd-navbar sticky-top bg-body-tertiary">
    <nav class="container-xxl">
      <a class="navbar-brand" href="/">Cinéphobia</a>
      <!-- Collapsable menu button -->
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <!-- Collapsable menu -->
      <div id="navbarToggle" class="collapse navbar-collapse">
        <!-- Left menu -->
        <div class="container-fluid p-0">
          <ul class="navbar-nav flex-wrap">
            <li class="nav-item">
              <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/media">Medias</a>
            </li>
            <li class="nav-item"> <!-- Separator -->
              <span class="vr d-none d-lg-flex h-100 mx-lg-2"></span>
            </li>
            <th:block sec:authorize="!isFullyAuthenticated()">
              <li class="nav-item">
                <a class="nav-link" href="/login">Login</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/register">Register</a>
              </li>
            </th:block>
            <th:block sec:authorize="isFullyAuthenticated()">
              <li class="nav-item">
                <a class="nav-link" href="/profile">Profile</a>
              </li>
              <th:block sec:authorize="hasRole('ADMIN')"> <!-- Admin buttons -->
                <div class="dropdown nav-item">
                  <button class="dropdown-toggle nav-link" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Admin
                  </button>
                  <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="/admin/user">Users</a></li>
                    <li><a class="dropdown-item" href="/admin/media">Medias</a></li>
                    <li><a class="dropdown-item" href="/admin/platform">Platforms</a></li>
                    <li><a class="dropdown-item" href="/admin/trigger">Triggers</a></li>
                  </ul>
                </div>
              </th:block>
            </th:block>
          </ul>
        </div>
        <!-- Right search bar -->
        <form class="navbar-nav d-flex flex-row input-group flex-nowrap" role="search" action="/media" method="get">
          <input class="form-control" type="search" title="Search media title" name="search" placeholder="Search Media" aria-label="Search">
          <button class="btn btn-outline-success" title="Confirm media search" type="submit">
            <span class="bi bi-search"></span>
          </button>
        </form>
      </div>
    </nav>
  </header>
  <section layout:fragment="content">
    <p>Content will be placed here</p>
  </section>
  <footer>
    <p>&copy; 2023 Cinéphobia</p>
  </footer>
</body>
</html>