<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{main.html}" xmlns:th="http://thymeleaf.org" xmlns:hx="http://htmx.org">
<head>
  <meta charset="UTF-8">
  <title th:text="${media.title} + ' | Cinéphobia'"></title>
</head>
<body>
  <section layout:fragment="content">
    <div id="media" th:fragment="media(media)">
      <!-- TODO Display media type and description -->
      <div class="container">
        <h1 th:text="${media.title}"></h1>
        <img src="" alt="Media image" th:src="${media.posterPath != null} ? ${media.getImageUrl(true)} : @{/images/placeholder.png}">
      </div>
    </div>
    <div class="container">
      <!-- TODO Get warns with htmx -->
    </div>
  </section>
</body>
</html>