<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{main.html}" xmlns:th="http://thymeleaf.org" xmlns:hx="http://htmx.org">
<head>
  <meta charset="UTF-8">
  <title th:text="${media.title} + ' | Cinéphobia'"></title>
</head>
<body>
  <section layout:fragment="content">
    <div th:fragment="media(media)" id="media" class="container-xxl d-flex flex-column flex-xl-row">
      <img class="img-fluid w-75 h-75 mx-auto rounded" src="" alt="Media poster" th:src="${media.posterPath != null} ? ${media.getImageUrl(true)} : @{/images/placeholder.png}">
      <div>
        <div class="container py-2"> <!-- Title & Description -->
          <h1 th:text="|${media.title} (${#strings.capitalize(media.type.name().toLowerCase())})|"></h1>
          <p class="text-wrap" th:text="${media.description}"></p>
        </div>
        <div hx-trigger="load" hx:get="@{/warn/{mediaType}/{mediaId}(mediaType = ${media.type}, mediaId = ${media.id})}" hx-swap="innerHTML" hx-include="#search" style="width: 90%" class="list-group container">
          <div class="d-flex justify-content-center">
            <span class="spinner-border" role="status"></span>
          </div>
        </div>
      </div>
    </div>
  </section>
</body>
</html>