<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{main.html}"
      xmlns:th="http://thymeleaf.org" xmlns:hx="http://htmx.org">
<head>
  <meta charset="UTF-8">
  <title>Profile | Cinéphobia</title>
</head>
<body>
<section layout:fragment="content">
  <div class="container-xxl">
    <h3>Profile</h3>
    <th:block th:replace="~{fragments/users :: profile(${user}) }"></th:block>
    <h3>My Triggers</h3>
    <div class="container list-group ps-2 my-2">
      <div th:each="trigger : ${user.triggers}" class="list-group-item d-flex justify-content-between align-items-start">
        <div class="ms-2 me-auto">
          <p class="fw-bold" th:text="${trigger.name}"></p>
          <p th:text="${trigger.description}"></p>
        </div>
        <button class="btn btn-secondary" type="button" title="Remove from my triggers"><i class="bi bi-trash text-white"></i></button> <!-- TODO -->
      </div>
    </div>
    <button class="btn btn-outline-danger" hx-push-url="true" hx-target="body" hx-post="/logout" hx:headers='${ {_csrf.headerName: _csrf.token} }'>Logout</button>
    <button class="btn btn-danger" hx-target="body" hx-delete="/profile" hx:headers='${ {_csrf.headerName: _csrf.token} }' hx-confirm="Are you sure you want to delete the account?">Delete account</button>
  </div>
</section>
</body>
</html>