<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{main.html}"
      xmlns:th="http://thymeleaf.org" xmlns:hx="http://htmx.org">
<head>
  <meta charset="UTF-8">
  <title>Profile - Cinéphobia</title>
</head>
<body>
<section layout:fragment="content">
  <div class="container-xxl">
    <form action="#" method="post" th:object="${user}">
      <label for="displayName">Display Name</label>
      <input id="displayName" type="text" th:field="*{displayName}">
      <p th:if="${#fields.hasErrors('displayName')}" th:errorclass="text-danger" th:errors="*{displayName}"></p>

      <label for="email">Email</label>
      <input id="email" type="email" th:field="*{email}">
      <p th:if="${#fields.hasErrors('email')}" th:errorclass="text-danger" th:errors="*{email}"></p>

      <label for="password">Password</label>
      <input id="password" type="password" th:field="*{password}">
      <p th:if="${#fields.hasErrors('password')}" th:errorclass="text-danger" th:errors="*{password}"></p>

      <th:block sec:authorize="hasRole('ADMIN')">
        <label for="role">Role</label>
        <select id="role" th:field="*{role}">
          <option value="USER">User</option>
          <option value="ADMIN">Admin</option>
        </select>
      </th:block>
      <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
      <input type="submit" value="Submit">
    </form>
    <button class="btn btn-outline-danger" hx-target="body" hx-post="/logout" hx:headers='${ {_csrf.headerName: _csrf.token} }'>Logout</button> <!-- TODO Doesn't update url -->
    <button class="btn btn-danger" hx-target="body" hx-delete="#" hx:headers='${ {_csrf.headerName: _csrf.token} }' hx-confirm="Are you sure you want to delete the account?">Delete account</button>
  </div>
</section>
</body>
</html>