$primary: #6ac3b4;
$secondary: #3c8783;
$success: #6cc08f;
$warning: #195c64;

$navbar-dark-color: #ffffff;
$navbar-dark-hover-color: #ffffff;

$utilities: (
  'width': (
    property: width,
    class: w,
    responsive: true,
    values: (
      25: 25%,
      33: 33%,
      50: 50%,
      66: 66%,
      75: 75%,
      100: 100%,
      auto: auto,
    ),
  )
);

@import "bootstrap";