<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{main.html}" xmlns:th="http://thymeleaf.org" xmlns:hx="http://htmx.org">
<head>
    <meta charset="UTF-8">
    <title>Users | Cinéphobia Admin</title>
</head>
<body>
  <section layout:fragment="content">
    <table class="container-xxl">
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Role</th>
        <th>Edit</th>
      </tr>
      <th:block th:each="user : ${users}">
        <tr>
          <td th:text="${user.displayName}">John doe</td>
          <td th:text="${user.email}">john.doe@example.com</td>
          <td th:text="${user.role}">USER</td>
          <td>
            <a class="btn btn-secondary" th:href="@{/admin/user/{id}(id=${user.id})}">Edit</a>
            <button class="btn btn-danger" hx-target="body" hx:delete="@{/admin/user/{id}(id=${user.id})}" hx:headers='${ {_csrf.headerName: _csrf.token} }' hx-confirm="Are you sure you want to delete the account?">Delete</button>
          </td>
        </tr>
      </th:block>
    </table>
    <div class="container d-flex flex-row justify-content-center">
      <a class="mx-1" th:each="pageNum : ${#numbers.sequence(0, numberOfPages - 1)}" th:text="${pageNum + 1}" th:href="@{/admin/user(page=${pageNum})}"></a>
    </div>
  </section>
</body>
</html>