<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{main.html}" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Users | Cinéphobia Admin</title>
</head>
<body>
  <section layout:fragment="content">
    <input type="hidden" id="search" name="search" th:value="${param.search}">
    <div id="triggers" hx-trigger="load" hx-get="/admin/user" hx-swap="innerHTML" hx-include="#search" class="container list-group ps-2" hx-boost="true">
      <div class="d-flex justify-content-center">
        <span class="spinner-border" role="status"></span>
      </div>
    </div>
  </section>
</body>
</html>